:root{
    --ntl-conf-background: hsla(60, 2%, 34%, 1);
    --ntl-conf-background1: hsla(202, 88%, 34%, 1);
    --ntl-conf-background2: hsla(143, 39%, 64%, 1);
    --ntl-conf-background3: hsla(60, 2%, 24%, 1);
}


.ntl-grid-container {
    grid-template-columns: 1fr .1fr 1fr;
    grid-auto-rows: 100%;
    grid-gap: 1.5rem;

}
.ntl-grid-item {
    border: 1px solid #1F2937;
    border-radius: .5rem;
    background-color: #cccccc;
}

.ntl-conf-json {
    background-color: #1F2937;
    padding: 1rem 1rem 1rem 1rem;
}
.ntl-grid-config-template {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: .5fr;
    grid-gap: 1rem;
    grid-template-areas:
    'block1 block2'
    'block3 block3'
    'block14 block14'
    'block4 block4'
    'block5 block6'
    'block13 block15'
    'block7 block8'
    'block9 block10'
    'block11 block12';
    padding: 1rem 1rem 1rem 1rem;
}
.ntl-grid-block1 {
    grid-area: block1;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block2 {
    grid-area: block2;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block3 {
    grid-area: block3;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block4 {
    grid-area: block4;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block5 {
    grid-area: block5;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block6 {
    grid-area: block6;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block7 {
    grid-area: block7;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block8 {
    grid-area: block8;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block9 {
    grid-area: block9;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block10 {
    grid-area: block10;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block11 {
    grid-area: block11;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block12 {
    grid-area: block12;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block13 {
    grid-area: block13;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block14 {
    grid-area: block14;
    background-color: var(--ntl-conf-background);
}
.ntl-grid-block15 {
    grid-area: block15;
    background-color: var(--ntl-conf-background);
}

.ntl-node {
    padding: .5rem;
}
.ntl-sub-node {
    background-color: #bbbbbb;
    overflow: hidden;
    padding: .5rem;
}
.ntl-sub-node .ntl-node {
    padding: 0;
}
.ntl-property{

}
.ntl-property ~ .ntl-value{
    display: none !important;
}
.ntl-property:checked ~ .ntl-value{
    display: block !important;
}

.ntl-parse-button {
    background-color: #904d4c;
    writing-mode: vertical-rl;
    text-align: center;
    font-size: xxx-large;
    color: white;
}
.ntl-parse-button:hover {
    background-color: #851d36;
}

h2 {
    text-align: center;
}
main {
    padding: 1rem;
}
label {
    cursor: pointer;
}
section {
    margin: 1rem 0 1rem 0;
}
input[type="checkbox"] {
    accent-color: #7ec699;
}
input.ntl-value{
    width: 98%;
}
textarea {
    height: 60px;
}
textarea.ntl-value{
    width: 98%;
}
select {

}
select.ntl-value {
    width: 100%;
}