:root {
    --ntl-background-color: hsla(255, 100%, 100%, 1);
    --ntl-color: hsla(0, 0%, 0%, 1);
    --ntl-after-color: hsla(0, 0%,0%, 1);
    --ntl-icon-color: hsla(0, 0%, 0%, 1);

    --ntl-border: 1px solid hsla(60, 2%, 74%, 1);

    --ntl-progress-bar-length: 0;
    --ntl-progress-bar-height: 3;
    --ntl-progress-bar-background-color: hsla(60, 2%, 34%, 1);

    --ntl-duration-ms: 500;

    --ntl-top: 1rem;
}

.ntl-toast{
    box-sizing: border-box;
    padding: .75rem;
    background-color: var(--ntl-background-color);
    color: var(--ntl-color);
    border: var(--ntl-border);
    border-radius: .25em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    top: var(--ntl-top);
}

.ntl-toast.ntl-can-close::after{
    content: "\00D7";
    position: absolute;
    top: 2px;
    right: 5px;
    color: var(--ntl-after-color);
    font-size: 1.35rem;
}
.ntl-toast.ntl-progress-bar::before{
    content: "";
    position: absolute;
    height: calc( 1px * var(--ntl-progress-bar-height) );
    width: calc( 100% * var(--ntl-progress-bar-length) );
    background-color: var(--ntl-progress-bar-background-color);
    bottom: 0;
    left: 0;
    right: 0;
}

.ntl-toast-container{
    position: fixed;
    margin: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.ntl-toast-container[data-position^="top-"] {
    top: 0;
}
.ntl-toast-container[data-position^="middle"] {
    top: 50%;
}
.ntl-toast-container[data-position^="bottom-"] {
    bottom: 0;
}
.ntl-toast-container[data-position$="-right"] {
    right: 0;
}
.ntl-toast-container[data-position$="-center"] {
    left: 50%;
    transform: translateX(-50%);
}
.ntl-toast-container[data-position$="-left"] {
    left: 0;
}

.ntl-toast-container[data-position$="-right"] .ntl-toast.ntl-slide {
    transform: translateX( 110% );
}
.ntl-toast-container[data-position$="-left"] .ntl-toast.ntl-slide {
    transform: translateX( -110% );
}
.ntl-toast-container[data-position="top-center"] .ntl-toast.ntl-slide {
    transform: translateY( -110vh );
}
.ntl-toast-container[data-position="bottom-center"] .ntl-toast.ntl-slide {
    transform: translateY( 110vh );
}
.ntl-toast-container > .ntl-toast.ntl-slide{
    transition: transform calc( 1ms * var(--ntl-duration-ms)) ease-in-out;
}
.ntl-toast-container > .ntl-toast.ntl-slide.ntl-show {
    transform: translate(0, 0);
}

.ntl-toast-container > .ntl-toast.ntl-fade{
    opacity: 0;
    transition: opacity calc( 1ms * var(--ntl-duration-ms)) ease-in-out;
}
.ntl-toast-container > .ntl-toast.ntl-fade.ntl-show {
    opacity: 1;
}

.ntl-svg-icon {
    width: 2rem;
    height: 2rem;
    line-height: 1;
    overflow: hidden;
    fill: var(--ntl-icon-color);
    display: inline-block;
}
.ntl-toast-message {
    display: inline-block;
}

.ntl-grid {
    display: grid;
}
.ntl-toast-content {
    grid-template-columns: 1fr 5fr;
    align-items: center;
}